<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않는 네임스페이스 기재 -->
<mapper namespace="guestbook">
	<select id="gbList" resultType="guestbookDto">
		select * from guestbook order by idx desc
	</select>
    <insert id="gbInsert">
        insert into guestbook
           (idx,name,email,passwd,content)
        values
        ((select nvl(max(idx)+1,1) from guestbook),
        #{name},#{email},#{passwd},#{content} )
    </insert>
    <select id="pwdCheck" resultType="int">
        select count(*) from guestbook
        where idx=#{idx} and passwd=#{passwd}
    </select>
    <select id="gbDetail" resultType="guestbookDto">
    	select * from guestbook 
    	where idx=#{idx}
    </select>
    <update id="gbUpdate">
    	update guestbook
    	set name=#{name}, email=#{email}, content=#{content}
    	where idx=#{idx}
    </update>
    <delete id="gbDelete">
    	delete from guestbook where id=#{idx}
    </delete>
</mapper>














